@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveAuto" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenMenu>
                <RadzenMenuItem Text="Home" Path="" Icon="home"></RadzenMenuItem>
                <RadzenMenuItem Text="Videos" Path="videos" Icon="video_file"></RadzenMenuItem>
                <RadzenMenuItem Text="Re-encode" Path="reencode" Icon="automation"></RadzenMenuItem>
            </RadzenMenu>
        </RadzenStack>
    </RadzenHeader>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <RadzenStack Orientation="Orientation.Horizontal">
            <div style="width:200px">
            <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Secondary" Value="100" ShowValue="false"
                                       Mode="ProgressBarMode.Indeterminate" AriaLabel="Processing" Visible=@Comm.Status.IsRunning.Value />
            </div>
            <RadzenBadge BadgeStyle="BadgeStyle.Base" Text=@Comm.Status.Status.Value />
            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenText Text=@($"Last file: {Comm.Status.Filename.Value}") />
                <RadzenText Text=@($"Log: {LogMain.LastLine.Value}") />
                <RadzenText Text=@($"Log FFMPEG: {LogFfmpeg.LastLine.Value}") />
            </RadzenStack>
        </RadzenStack>

    </RadzenFooter>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="relo_cd">Reload</a>
    <span class="dismiss">🗙</span>
</div>

